:root {
    --height-header: 60px;
    --height-todolist: 300px;
    --height-todolist-header: 30px;
  
    --width-todolist: 200px;
  }
  
  html,
  body {
    width: 100vw;
    height: 100vh;
    /* overflow: hidden; */
  }
  
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  
  .columnHolder {
    display: flex;
    justify-content: space-around;
  }
  
  .todolist {
    border: 1px solid black;
    /* background-color: var(--color-green); */
    height: var(--height-todolist);
    width: var(--width-todolist);
    flex-direction: column;
    box-sizing: border-box;
    overflow: auto
  
    /* box-shadow: 5px 5px 2px black; */
    /* border-radius: 5px; */

    /* position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
  }
  
  .todolist__header{
    display: flex;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-top: 0;
    border-left: 0;

    font-weight: bold;

    width: 100%;
    height: 40px;
    margin: 0;
  }
  ul li {
    border: 1px solid black;
    height: 50px;
    margin: 0;
    padding: 0;
    border-bottom: 0;
    border-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }

  ul li button {
    margin-right: 10px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: brown;
    font-size: 1.4rem;
  }
  ul li button:hover {
    font-size: 1.6rem;
  }
  ul li button:active {
    font-size: 1.3rem;
  }
  ul li:nth-child(2n) {
    /* background-color: var(--color-red-li-hover); */
  }
  ul {
    /* height: calc(100% - var(--height-todolist-header) * 2); */
    padding: 0;
    margin: 0;
    overflow: auto;
  }

  li:nth-child(even) {
    background: rgb(221, 239, 221);
  }
  
  .selected {
    background-color: skyblue;
  }

  .creditContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
  }