:root {
    --height-header: 60px;
    --height-todolist: 300px;
    --height-todolist-header: 30px;
  
    --width-todolist: 200px;
  }
  
  html,
  body {
    width: 100vw;
    height: 100vh;
    /* overflow: hidden; */
  }
  
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  
  .columnHolder {
    display: flex;
    justify-content: space-around;
  }
  
  .todolist {
    border: 1px solid black;
    height: var(--height-todolist);
    width: var(--width-todolist);
    flex-direction: column;
    box-sizing: border-box;
    overflow: auto
  }
  
  .todolist__header{
    display: flex;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-top: 0;
    border-left: 0;
    border-bottom: 1;

    font-weight: bold;

    width: 100%;
    height: 40px;
    margin: 0;
  }
  .selected__header{}

  ul {
    padding: 0;
    margin: 0;
    overflow: auto;
  }

  ul li {
    border: 1px solid black;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }


  li:nth-child(odd) {
    background: rgb(221, 239, 221);
  }
  
  .selected {
    background-color: skyblue;
  }

  .creditContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
  }